<!--
<a ui-sref="admin.settings.addContentType">Add Content </a>
-->
	
<div>
	
<form name="addNewContent" ng-submit="CTCtrl.addNewContent(CTCtrl.contentTypeID)" novalidate>
	<select  ng-model="CTCtrl.contentTypeID">
		<option ng-repeat="( key, content ) in CTCtrl.contentTypes"  value="{{content.$id}}">{{content.name}}</option>
	</select>
	
	{{CTCtrl.contentTypeID}}

	<input type="submit" class="btn btn-success btn-small"  value="Add Content">
	
</form>

<ul>
<li ng-repeat="( key, content ) in CTCtrl.content "><a ui-sref="admin.settings.editContent({machineName: content.machineName, id: content.$id})">{{content.name}}</a></li>

</ul>

</div>


