<section class="main">
		  <div class="row">
			  <div class="jumbotron col-xs-12 ">
				<div class="title">
					<h1>Backstage Access</h1>
					<p class="">It's not what you know; it's who you know that matters.  </p>
				</div>	
			  </div>
		  </div>
</section>
<div class="abs col-xs-12">  
<section id="about">
	<div class="container">
    	<div class="row dolly headline"> 
			<div class="col-xs-12 col-sm-6">
			 <img class="pic-img img img-responsive" src="img/kev.png">
			</div>
			<div class="col-xs-12 col-sm-6">
				 <h2 class="dolly-header">Hello, my name is Brock. Thanks for stopping by.</h2>
					<p class="dolly-subheader">I'm glad that you could make it. Take a minute or two and look around. Let me know if you'd like to discuss a project you need help with. </p>
				<p class="dolly-subheader"><button class="btn btn-lg">Contact Me</button></p>
				
			</div>
			
			
			
			
<!--
		 <div class="col-xs-12 col-sm-12"> 
		<div class="row dolly">	 
			<div class="col-xs-12 headline">
				 <h2 class="dolly-header">Hello, my name is Brock. Thanks for stopping by.</h2>
				<p class="dolly-subheader">You've managed to make it here, so take a minute or two and look around. Who knows, it might make all the difference. </p><p class="dolly-subheader">Actually, I happen to build websites. If you, or someone you know is in the market for a new website, or you just need updates to your current site, you can <a href="#footer">contact me here.</a> I'm <em>especially</em> intereted in projects that can be done remotely. </p>
			</div>	
	 	</div>	
			 
		 </div> 
-->
			</div>
		</div>
	
	</section>
<section id="door">	
	<div class="col-xs-12 col-sm-12">
			<h2 class="dolly-header">Every person is a door to a different world. </h2>
			</div>
</section>	  
<section id="mean">
			<div class="container">	 
			 <div class="row"> 	 
			 <div class="col-xs-12 col-sm-12">
		<div class="row">	 
			<div class="col-xs-12">
				  <div class="col-xs-3 col-sm-3">
             				<img src="img/html5.svg" class="img img-responsive tech" />
              <h4 class="tech-heading">HTML5</h4>

            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-3 col-sm-3">
              				<img src="img/css3.svg" class="img img-responsive tech" />
              <h4 class="tech-heading">CSS3</h4>
            </div><!--/.col-xs-6.col-lg-4-->
			<div class="col-xs-3 col-sm-3">
              				<img src="img/javascript.svg" class="img img-responsive tech" />
              <h4 class="tech-heading">JS</h4>
            </div><!--/.col-xs-6.col-lg-4-->
			<div class="col-xs-3 col-sm-3">
              				<img src="img/angular.svg" class="img img-responsive tech" />
              <h4 class="tech-heading">Angular</h4>
            </div><!--/.col-xs-6.col-lg-4-->		
			<div class="col-xs-3 col-sm-3">
              				<img src="img/bootstrap.svg" class="img img-responsive tech" />
              <h4 class="tech-heading">Bootstrap</h4>
            </div><!--/.col-xs-6.col-lg-4-->
			<div class="col-xs-3 col-sm-3">
              				<img src="img/node.svg" class="img img-responsive tech" />
              <h4 class="tech-heading">NodeJS</h4>
            </div><!--/.col-xs-6.col-lg-4-->
			<div class="col-xs-3 col-sm-3">
              				<img src="img/github.svg" class="img img-responsive tech" />
              <h4 class="tech-heading">Github</h4>
            </div><!--/.col-xs-6.col-lg-4-->
			
			<div class="col-xs-3 col-sm-3">
              				<img src="img/firebase.svg" class="img img-responsive tech" />
              <h4 class="tech-heading">Firebase</h4>
            </div><!--/.col-xs-6.col-lg-4-->
			
				
			</div>	
	 	</div>	
          <div class="row">
            
			</div> 
		</div> 
			 
			
			</div> 
				 
			 </div>
</section>
	  
<section >					
			<div  class="row test-sub-headline">	 
			<div class="col-xs-12 col-sm-4">
				<span class="col-xs-5">  <img class="test-img img img-responsive" src="img/kev.png"><h2 class="test-name">Client N.</h2></span>	
            <span class="col-xs-7 text-text">
              <p>"He did the work I paid him for. I know it sounds simple enough, but until this point I had struggled to find developers who would compete the work and stay in contact." </p>
				</span>
            </div>
				
            <div class="col-xs-12 col-sm-4">
				<span class="col-xs-5">  <img class="test-img img img-responsive" src="img/kev.png"><h2 class="test-name">Client N.</h2></span>	
            <span class="col-xs-7 text-text">
              <p>"He did the work I paid him for. I know it sounds simple enough, but until this point I had struggled to find developers who would compete the work and stay in contact." </p>
				</span>
            </div>
				
			<div class="col-xs-12 col-sm-4 ">
				<span class="col-xs-5">  <img class="test-img img img-responsive" src="img/BM13404lr-1.jpg"><h2 class="test-name">Client N.</h2></span>	
            <span class="col-xs-7 text-text">
              <p>"He did the work I paid him for. I know it sounds simple enough, but until this point I had struggled to find developers who would compete the work and stay in contact." </p>
				</span>
            </div>	
	 	</div> 
				
			
</section>			
<section id="lamp" class="lamp">
			 <div class="container">	 
			 <div > 
			
				 
				 
				 <div class="row dolly">	 
			<div class="col-xs-12 headline">
				 <h2 class="dolly-header">Got LAMP?</h2>
				<p class="dolly-subheader">I didn't always know (and love) Javascript. I taught myself how to write code by reading through the source of projects like Open-Realty and OScommerce, and even though I've been paying more attention to other technologies, I'll always have a special place in my heart for PHP and mySQL.</p>
			</div>	
	 		</div>
				 
	 		<div class="lamp-icons">
				<div class="col-xs-3 col-sm-3 ">
								<img src="img/linux.svg" class="img img-responsive tech" />
				  <h4 class="tech-heading">Linux</h4>
				</div><!--/.col-xs-6.col-lg-4-->
				<div class="col-xs-3 col-sm-3 ">
								<img src="img/apache.svg" class="img img-responsive tech" />
				  <h4 class="tech-heading ">Apache</h4>
				</div><!--/.col-xs-6.col-lg-4-->
				<div class="col-xs-3 col-sm-3 ">
								<img src="img/mysql.svg" class="img img-responsive tech" />
				  <h4 class="tech-heading">Mysql</h4>
				</div><!--/.col-xs-6.col-lg-4-->	
				<div class="col-xs-3 col-sm-3 ">
								<img src="img/php.svg" class="img img-responsive tech"  />
				  <h4 class="tech-heading">PHP</h4>
				</div><!--/.col-xs-6.col-lg-4-->
			</div>
				 </div> 
				 </div>
				
</section>
	
<section class="bm ">
		  <div class=""> 
		  <div class="col-xs-8 pull-right">
			  <div class="">
			  <h1 >Some men just want to watch the world burn.</h1>
			  </div>
			  </div>
		  </div>

	  </section>	
<section id="port" class="port"> 
			<div class="container">	 
			 <div class="row dolly"> 
				 
			<div class="col-xs-12 headline">
				 <h2 class="dolly-header">Past clients</h2>
				<p class="dolly-subheader"></p>
			</div>		 
				 
				 
            <div class="col-xs-12 col-sm-4 port-thumbs">
              <img src="http://placehold.it/960x540" class="img img-responsive">
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-12 col-sm-4 port-thumbs">
             <img src="http://placehold.it/960x540" class="img img-responsive">
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-12 col-sm-4 port-thumbs">
             <img src="http://placehold.it/960x540" class="img img-responsive">
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-12 col-sm-4 port-thumbs">
             <img src="http://placehold.it/960x540" class="img img-responsive">
            </div><!--/.col-xs-6.col-lg-4-->
			<div class="col-xs-12 col-sm-4 port-thumbs">
              <img src="http://placehold.it/960x540" class="img img-responsive">
            </div><!--/.col-xs-6.col-lg-4-->
			<div class="col-xs-12 col-sm-4 port-thumbs">
              <img src="http://placehold.it/960x540" class="img img-responsive">
            </div><!--/.col-xs-6.col-lg-4-->	 
          </div><!--/row-->
        </div><!--/.col-xs-12.col-sm-9-->     
      </div><!--/row-->	
</section>			
		
<footer id="footer" class="footer ">
	
	
</footer>			
 
</div>	  
	  
